body {
  margin: 0;
  font-family: monospace;
  font-size: 13px;
  background-image: url('assets/bg.png');
    background-attachment: fixed;
    background-size: 210vh auto;
    background-repeat: no-repeat;
    background-position: center;
    image-rendering: pixelated;
  cursor: url('assets/cursor.png'), auto;
  z-index: -10;
}

img {
  max-width: 100%;
  max-height: 100%;
  image-rendering: pixelated;
}

a:link {
  color: gainsboro;
}

a:visited {
  color: gainsboro;
}

a:hover {
  color: gainsboro;
}

a:active{
  color: gainsboro;
}

p {
  color: gainsboro;
  text-align: justify;
  text-justify: inter-word;
  text-shadow: 1px 1px 1px black, 1px 1px 1px black;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-top: 0;
}

b {
  color: white;
}

@font-face {
  font-family: Bank Printer;
  src: url(assets/F25_Bank_Printer.ttf);
}

h1 {
  font-family: Bank Printer;
  color: gainsboro;
  text-shadow: 1px 1px 1px black, 1px 1px 1px black;
  font-size: 19px;
}

.justify-text {
  text-align: justify;
  text-align-last: justify;
}

.contents {
  display: flex;
  justify-content: center;
  position: relative;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  min-height: 100vh;
}

.body-holder {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 0;
  margin-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  margin-bottom: 0;
  background: black;
  border-style: solid;
  border-width: 1px;
    border-top-width: 0;
    border-bottom-width: 0;
  border-color: rgb(90, 90, 90);
  max-width: 928px;
    width: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgb(20, 20, 20, 1) 70%, rgba(0, 0, 0, 1) 100%);
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.6);
}

.body {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
  text-align: left;
  background-position: right bottom;
  background-repeat: no-repeat;
  height: 100%;
}

.body-left {
  position: absolute;
  align-items: center;
  height: 100%;
  left: -350px
}

.body-right {
  position: absolute;
  width: 300px;
  height: 100%;
  right: -350px;
}

.right-bannerholder {
  display: flex;
    flex-direction: column;
  margin-top: 150px;
  max-width: 300px;
    width: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgb(20, 20, 20, 0.8) 70%, rgba(0, 0, 0, 0.8) 100%);
  border-width: 1px;
    border-color: rgb(90, 90, 90);
    border-style: solid;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.6);
}

.bannerholder {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 10px;
    margin-left: 0px;
    margin-right: 0px;

  height: 223px;
}

#headerbanner {
  position: absolute;
  object-fit: cover;
  object-position: center;
  filter: brightness(0.25);
  height: 100%;
  width: 100%;
  user-select: none;
}

#bannertext {
  position: absolute;
  object-fit: cover;
  object-position: center;
  height: 100%;
  width: 100%;
  user-select: none;
}

.message-intro {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
  background: rgb(0, 0, 0);
  border-color:  rgb(167, 167, 167);
  border-style: solid;
  border-width: 1px;
  padding: 5px;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.6);
}

.socials {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 10px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
  background: black;
  border-color:  rgb(167, 167, 167);
  border-style: solid;
  border-width: 1px;
  max-height: max-content;
  padding: 5px;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.6);
}

.social-banner-holder {
  display: block;
  align-self: center;
  margin-top: 185px;
}

.header-intro {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  margin: 10px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  background: linear-gradient(180deg, rgb(20, 20, 20) 15%, rgb(56, 56, 56) 50%, rgb(20, 20, 20) 75%);
  border-color:  rgb(167, 167, 167);
  border-style: solid;
  border-width: 1px;
  height: 20px;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.scrolling-banner {
  position: relative;
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
  margin: 0px;
  background: linear-gradient(180deg, rgb(49, 3, 3, 1) 15%, rgb(80, 6, 6) 50%, rgba(49, 3, 3, 1) 75%);
  border-color:  rgb(134, 11, 11);
  border-style: dotted;
  border-width: 1px;
  padding: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
  height: 20px;
  max-width: 918px;
    width: 100%;
  z-index: 10;
}

.text-scrolling {
  padding-right: 100px;
  display: inline-block;
  white-space: nowrap;
    text-wrap-mode: nowrap;
    white-space-collapse: collapse;
}

.text-left {
  text-align: left;
  padding-left: 5px;
  padding-right: 22px;
}

.text-right {
  text-align: right;
  padding-right: 5px;
  padding-left: 22px;
}

.text-center {
  text-align: center;
  padding-bottom: 5px;
  padding-top: 5px;
}

.line-break {
  margin: 10px;
    margin-top: 5px;
    margin-left: 15px;
    margin-right: 15px;
  border-color:  rgb(167, 167, 167);
  border-style: dotted;
  border-width: 1px;
  max-height: 1px;
}

.icon {
  position: relative;
  display: flex;
  flex-direction: column;
    margin: 10px;
    margin-left: 0px;
    margin-right: 0px;
  border-color:  rgb(167, 167, 167);
  border-style: solid;
  border-width: 1px;
  height: 128px;
  width: 128px;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.6);
}

.top-grid{
  position: relative;
  align-items: center;
  display: grid;
    margin: 10px;
    margin-left: 0px;
    margin-right: 0px;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  width: 100%;
  gap: 22px;
}

.container{
  margin-left: 15px;
  margin-right: 15px;
  min-height: 260px;
}

.header{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background: linear-gradient(90deg, rgb(56, 56, 56) 0%, rgb(0, 0, 0) 50%, rgb(56, 56, 56) 100%);
    border-width: 1px;
      border-left: 0px;
      border-right: 0px;
      border-top: 0px;
    border-color:  rgb(90, 90, 90);
    border-style: solid;
    height: 22px;
    max-width: 928px;
    width: 100%;
    flex-shrink: 0;
}

.gameicon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-width: 1px;
  border-style: dotted;
  border-color:  rgb(167, 167, 167);
  max-width: 60px;
    width: 100%;
  max-height: 60px;
    height: 100%;
}

.gamerow {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.game-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
    margin-bottom: 4px;
}

.game-box {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 10px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
  background: black;
  border-color:  rgb(167, 167, 167);
  border-style: solid;
  border-width: 1px;
  max-height: max-content;
  padding: 5px;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.6);
}

.button-holder {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0px;
  padding: 0px;
  max-height: 22px;
    height: 100%;
  max-width: fit-content;
    width: 100%;
}

.current-page {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(15deg, rgb(0, 0, 0) 65%, rgba(172, 172, 172, 0.6) 100%);
  margin: 0px;
  border-color: rgb(90, 90, 90);
  border-style: solid;
  border-width: 1px;
    border-bottom-width: 0px;
    border-top-width: 2px;
  height: 22px;
  width: 50px;
  padding: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.current-page-text {
  text-align: center;
  margin: 0px;
}

.inactive-page {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(15deg, rgb(0, 0, 0) 50%, rgba(36, 36, 36, 0.6) 100%);
  margin: 0px;
  border-color:  rgb(90, 90, 90);
  border-style: solid;
  border-width: 1px;
    border-bottom-width: 0px;
    border-top-width: 2px;
    border-left-width: 0px;
  height: 22px;
  width: 50px;
  padding: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.inactive-page-text {
  text-align: center;
  margin: 0px;
}

.featured-game {
  display: block;
  align-self: center;
  height: 400px;
  width: 200px;
  border-width: 1px;
    border-color: rgb(167, 167, 167);
    border-style: solid;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.6);
  margin: 10px;
}

.footer{
  display: flex;
  justify-content: space-between;
  align-self: center;
  align-items: center;
  background: linear-gradient(180deg, rgb(20, 20, 20) 15%, rgb(56, 56, 56) 50%, rgb(20, 20, 20) 75%);    border-width: 1px;
  border-width: 1px;
    border-bottom-width: 0px;
  border-color:  rgb(90, 90, 90);
  border-style: solid;
  height: 22px;
  max-width: 928px;
    width: 100%;
}

.footer-object{
  margin-left: 15px;
  margin-right: 15px;
}

.game-pic-holder {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
  background: rgb(0, 0, 0);
  border-color:  rgb(167, 167, 167);
  border-style: solid;
  border-width: 1px;
  max-height: max-content;
  padding: 1px;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.6);
}

.disc-gif{
  height: 300px;
  width: 300px;
  margin: 15px;
}