body {
  margin: 0;
  font-family: monospace;
  font-size: 13px;
  background-image: url('assets/bg.png');
  background-attachment: fixed;
  background-size: 1920px auto;
  cursor: url('assets/cursor.png'), auto;
  z-index: -10;
}

img {
  max-width: 100%;
  max-height: 100%;
  image-rendering: pixelated;
}

a:link {
  color: greenyellow;
}

p {
  color: gainsboro;
  text-align: justify;
  text-justify: inter-word;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-top: 0;
}

.stretch {
  text-align: justify;
  text-align-last: justify;
}

.contents {
  display: flex;
  justify-content: center;
  position: relative;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  min-height: 100vh;
}

.docholder {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-left: 0;
  margin-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  margin-bottom: 0;
  background: black;
  border-style: solid;
  border-width: 1px;
  border-top-width: 0;
  border-bottom-width: 0;
  border-color: rgb(90, 90, 90);
  max-width: 928px;
  width: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgb(20, 20, 20, 0.8) 70%, rgba(0, 0, 0, 0.8) 100%);
}

.doc {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: left;
  background-position: right bottom;
  background-repeat: no-repeat;
  height: 100%;
}

.bannerholder {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 10px;
    margin-left: 0px;
    margin-right: 0px;
  border-color:  rgb(167, 167, 167);
  border-width: 1px;
  border-style: dotted;
  height: 223px;
}

.message-intro {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
  background: black;
  border-color:  rgb(167, 167, 167);
  border-style: solid;
  border-width: 1px;
  max-height: max-content;
  padding: 5px;
}

.socials {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
  background: black;
  border-color:  rgb(167, 167, 167);
  border-style: solid;
  border-width: 1px;
  max-height: max-content;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.header-intro {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  margin: 10px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  background: linear-gradient(180deg, rgb(20, 20, 20) 15%, rgb(56, 56, 56) 50%, rgb(20, 20, 20) 75%);
  border-color:  rgb(167, 167, 167);
  border-style: solid;
  border-width: 1px;
    border-bottom: 0px;
  height: 20px;
}

.message-urgent {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
  background: linear-gradient(180deg, rgb(49, 3, 3, 1) 15%, rgb(80, 6, 6) 50%, rgba(49, 3, 3, 1) 75%);
  border-color:  rgb(167, 167, 167);
  border-style: dotted;
  border-width: 1px;
  max-height: 20px;
  padding-left: 5px;
  padding-right: 5px;
}

.text-left {
  text-align: left;
  padding-left: 5px;
  padding-right: 22px;
}

.text-right {
  text-align: right;
  padding-right: 5px;
  padding-left: 22px;
}

.text-center {
  text-align: center;
  padding-bottom: 5px;
  padding-top: 5px;
}

.line-break {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px;
    margin-left: 15px;
    margin-right: 15px;
  border-color:  rgb(167, 167, 167);
  border-style: dotted;
  border-width: 1px;
  max-height: 1px;
}

.icon {
  position: relative;
  display: flex;
  flex-direction: column;
    margin: 10px;
    margin-left: 0px;
    margin-right: 0px;
  border-color:  rgb(167, 167, 167);
  border-style: dotted;
  border-width: 1px;
  height: 128px;
  width: 128px;
}

.top-grid{
  position: relative;
  align-items: center;
  display: flex;
    margin: 10px;
    margin-left: 0px;
    margin-right: 0px;
  grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
  align-content: space-between;
  justify-items: center;
  gap: 22px;
}

.container{
  display: block;
  max-width: fit-content;
  max-height: fit-content;
}

.header{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background: linear-gradient(90deg, rgb(39, 39, 39) 0%, rgb(0, 0, 0) 25%, rgb(0, 0, 0) 50%, rgb(0, 0, 0) 75%, rgb(39, 39, 39) 100%);
    border-width: 1px;
      border-left: 0px;
      border-right: 0px;
      border-top: 0px;
    border-color:  rgb(90, 90, 90);
    border-style: solid;
    max-height: 22px;
    height: 100%;
    max-width: 928px;
    width: 100%;
    flex-shrink: 0;
}

.footer{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background: linear-gradient(180deg, rgb(20, 20, 20) 15%, rgb(56, 56, 56) 50%, rgb(20, 20, 20) 75%);
    border-width: 1px;
      border-left: 1px;
      border-right: 1px;
      border-bottom: 0px;
    border-color:  rgb(90, 90, 90);
    border-style: solid;
    max-height: 22px;
    height: 100%;
    max-width: 928px;
    width: 100%;
    flex-shrink: 0;
}

.gameicon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-width: 1px;
  border-style: dotted;
  border-color:  rgb(167, 167, 167);
  max-width: 60px;
  width: 100%;
  max-height: 60px;
  height: 100%;
}

.gamerow {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.game-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
    margin-bottom: 4px;
}

.game-box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin: 10px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
  background: black;
  border-color:  rgb(167, 167, 167);
  border-style: solid;
  border-width: 1px;
  max-height: max-content;
  padding: 5px;
}
